.destack {
    background-color: $color-05;
    padding: $space-default;

    &__title {
        color: $color-03;
        float: justify;
        font-size: $font-big;
        margin-top: 0;
    }

    &__subtitle {
        float: justify;
        font-size: $font-medium;
        margin-left: $space-default;
        margin-top: $mt;
        color: $color-02;
    }

    &__image {
        width: 25%;
        height: 25%;
        margin: $space-default;
        display:table-row-group;
        text-align: $align;
    }
    
    &__description {
        font-size: $font-small;
        color: $color-01;
        padding: 1rem 0;
        width: 100%;
    }
}


