$align: center;
$bg-color: #d0fce6;
$color-01: rgb(59, 59, 61);
$color-02: #87b4f8;
$color-03: rgb(56, 4, 241);
$color-04: #08dffc;
$color-05: #f4f8dc;
$color-default: #79acfa;
$font-big: 4rem; 
$font-family-default: Lucida, Helvetica, sans-serif;
$font-medium: 2.5rem;
$font-normal: 2.0rem;
$font-small: 1.5rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;
